.navbar-custom {
    background-color: darkcyan;
  }
  
  .navbar-custom .navbar-brand,S
  .navbar-custom .navbar-text {
    color: Black
  }

  .navbar-custom .nav-link,
  .navbar-custom .navbar-text {
    color: Black
  }